.ant-radio-inner {
  width: 20px !important;
  height: 20px !important;
  
  &::after {
    width: 12px !important;
    height: 12px !important;
  }
}
  
.ant-checkbox-inner {
  width: 20px !important;
  height: 20px !important;
  
  &::after {
    width: 8px !important;
    height: 12px !important;
  }
}

.ant-radio,
.ant-checkbox {
  font-size: 20px !important;
}

.ant-checkbox-wrapper {
  align-items: center !important;
}

.ant-input-number-group-wrapper-outlined 
  .ant-input-number-group-addon {
    color: #111111 !important;
    background-color: #fff !important; 
}

.ant-input-number-input {
  text-align: center !important;
}
  