.ant-tabs-top {
    .ant-tabs-nav {
        &::before {
            border-bottom: none !important;
        }
    }
}

.ant-tabs-ink-bar {
    background: none !important;
}

.ant-tabs {
  .ant-tabs-tab {
    padding: 0 !important;

    + .ant-tabs-tab {
      margin: 0 !important;
    }
  }

  .ant-tabs-nav {
    .ant-tabs-nav-list {
      gap: 8px !important;
    }
  }
}

.ant-radio-inner {
  width: 20px !important;
  height: 20px !important;
    
  &::after {
    width: 12px !important;
    height: 12px !important;
  }
}
    
.ant-checkbox-inner {
  width: 20px !important;
  height: 20px !important;
    
  &::after {
    width: 8px !important;
    height: 12px !important;
  }
}
  
.ant-radio,
.ant-checkbox {
  font-size: 20px !important;
}