@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }

.ant-upload-list {
    .ant-upload {
        width: 100% !important;
        height: 187px !important;
        aspect-ratio: 1/1 !important;
        background-color: none;
    }
}

.ant-upload-list-item-container {
    width: 100% !important;
    height: 187px !important;
    aspect-ratio: 1/1 !important;
}