@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-upload-list {
    .ant-upload {
        width: 100% !important;
        height: 187px !important;
        aspect-ratio: 1/1 !important;
        background-color: none;
    }
}

.ant-upload-list-item-container {
    width: 100% !important;
    height: 187px !important;
    aspect-ratio: 1/1 !important;
}

.ant-tabs-nav {
  width: 100% !important;
}

.ant-tabs-tab {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.ant-tabs-nav > div:nth-of-type(1) {
  display: unset !important;
  width: 100% !important;
}