@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-upload-list {
    .ant-upload {
        width: 100% !important;
        height: 187px !important;
        aspect-ratio: 1/1 !important;
        background-color: none;
    }
}

.ant-upload-list-item-container {
    width: 100% !important;
    height: 187px !important;
    aspect-ratio: 1/1 !important;
}