.ant-progress-text {
    font-size: 14px !important;
    margin-inline-start: 0 !important;
    font-weight: 600 !important;
    color: white !important;
}

.ant-progress-outer {
    padding-inline-end: 0 !important;
}

.ant-progress {
    display: flex !important;
    flex-direction: column-reverse !important;
    gap: 8px !important;
}

.ant-progress-inner {
    display: flex !important;;
}